<div class="container-fluid d-flex justify-content-center align-items-center text-center min-vh-100 bg-light position-relative" id="Topdiv">
  <a routerLink="/HomePage" class="text-decoration-none text-dark w-100">
    <div class="row justify-content-center position-relative">
      <div class="col-12">
        <!-- Bird Icon with animation -->
       
        <img src="assets/AT-Logo-Center.jpg" alt="" width="200px" height="200px" class="rounded">
      <h1 class="anandh-logo mb-3 position-relative text-center ">
  <div class="anandh-name">
    <span class="an-text">AN</span><span class="and-text">AND</span>
    <span class="tech-text">Technologies</span>
  </div>
<!-- <div class="tech-text">Technologies</div> -->
</h1>


 
 
        <!-- Hardware Service Text -->
        <p class="hardware-text">Computer Hardware <span class="highlight">Service</span></p>
      </div>
    </div>
  </a>
</div>
