<div class="container-fluid d-flex justify-content-center align-items-center text-center min-vh-100 bg-light position-relative" id="Topdiv">
  <a routerLink="/HomePage" class="text-decoration-none text-dark w-100">
    <div class="row justify-content-center position-relative">
      <div class="col-12">
        <!-- Bird Icon with animation -->
       

        <!-- ANANDH Text with Desktop Icon -->
        <h1 class="anandh-logo mb-3 position-relative">
          <span id="A-letter">A</span><span>N</span><span>A</span><span>N</span><span>D</span><span>H</span>
          <i class='fas fa-desktop' style='font-size:46px'></i>
        </h1>
 
 
        <!-- Hardware Service Text -->
        <p class="hardware-text">Hardware <span class="highlight">Service</span></p>
      </div>
    </div>
  </a>
</div>
